
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.website-logo{
  display: flex;
  align-items: center;
  margin-left: 0;
  position: relative;
  left: -35px;
}

.website-logo img{
  max-width: 100px;
}

h1{
  color: #c69b26;
  font-size: 28px;
}

small{
  font-size: 15px;
  position: relative;
  top: -10px;
  left: 5px;
  font-family: cursive;
  color: #827d7d;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  height: auto;
  width: auto;
  box-shadow: 0px 0px 10px #adabab;
}

nav ul{
  display: flex;
  list-style: none;
}
nav ul li{
  margin: 0 15px;
}

nav ul li a{
text-decoration: none;
color: #000;
font-size: 17px;
transition: 0.2s ease-in-out;
}

nav ul li a:hover{
background-color: #c69b26;
padding: 7px;
color: #fff;
border-radius: 10px;
}

input{
  visibility: hidden;
}

label{
  display: none;
}


/* HERO SECTION */

.intro{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  margin-top:0;
}

.intro img{
  margin-top: 50px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro::before{
  content:' ';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  margin-top: 25px;
  background-color: rgba(18, 18, 18, 0.5);
}

h2{
  font-size: 40px;
  color: #c69b26;
  margin-bottom: 20px;
}

.content{
  position: absolute;
  color: #fff;
  text-align: center;
  padding: 20px;
  width:80%;
  height: 100%;
  top: 150px;
}

.content p{
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 28px;
}

.hero-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.content button{
  position: relative;
  top: 2px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #c69b26;;
  color: #ffffff;
  border-width: 0.4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.content button:hover{
 opacity: 0.9;
 color: #fff;
}


/* ABOUT SECTION */

h3{
    font-size: 30px;
    text-align: center;
  color: #c69b26;
  margin-top: 100px;
  margin-bottom: 20px;
}

em{
  color: #2e7d32;
  margin-bottom: 30px;
}

.about{
  display:flex;
  padding: 30px;
  height: auto; 
}

#about-us{
  height: 100%;
}

hr{
  width: 10%;
  margin: 20px auto;
  border: 0.4px solid #c69b26;
}


.about-images{
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 6px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.about-images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 10px 1px;
}

.about-content{
  width: 100%;
  padding: 20px;
  font-size:17px;
  justify-content: flex-start;
  position: relative;
  top:-80px;
  height: 100vh;
} 

.about img{
  max-width: 20rem;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.our-story{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 90%;
  height: fit-content;
  text-align: center;
}

.mission{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.mission img{
        mix-blend-mode: multiply;
        width: 90%;
}

.vision{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: fit-content;
  padding-top: 0;
}

.vision img{
  width: 54%;
  height: 10%;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 15px;
  mix-blend-mode: multiply;
  margin-bottom: 10px;
  padding-top: 0;
}


.mission-vision{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  height: auto;
  width: 100%;
  position: relative;
  top: -50px;
  gap: 10px;
}

.mission-vision-ruler{
  width: 500px;
  border: 0.4px solid #c69b26;
  height: 100%;
  background-color: #c69b26;
  transform: rotateZ(-90deg);
}

.middle-logo{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin-top:120px;
}

.website-logo-img{
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/* SERVICES */

h4{
  font-size: 25px;
  color: #c69b26;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
}

.why-choose-us{
  display: flex;
  padding: 10px;
  height: auto;
  width: 100%;
  position: relative;
  top: 10px;
  gap: 10px;
  align-items: center;
 background: linear-gradient(to right, #bcdfbf, #f1efe7);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.services-images{
  display:flex;
  gap: 10px;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.services-images img{
  width: 54%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}


.bullets{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  position: relative;
  left: 10px;
  font-size: 18px;
  line-height: 45px;
  color: #1e6221;
}


.services-button{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1px;
  gap:20px;
}

.services-button button{
  padding: 10px 20px;
  font-size: 18px;
  background-color: #c69b26;;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.services-button button:hover{
 opacity: 0.9;
 color: #fff;
 transform: scale(1.1);
}

.bullet {
font-size: 18px;
font-family: 'Poppins', sans-serif;
font-weight: normal;
position: relative;
gap: 10px;
}

.services-icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
  top: 80px;
}

.services-icons button{
  font-size: 20px;
  width:80%;
  color: #5d4037;
  padding: 20px;
  gap: 50px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 5px #adabab;
  background-color: #ffffff;
  transition: 0.4s ease-in-out;
}

.services-icons button:hover{
  transform: scale(1.05);
}

i{
  margin-right: 10px;
  font-size: 40px;
}

/* PRODUCTS */

h5{
  font-size: 25px;
  color: #c69b26;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

.products{
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: fit-content;
  padding: 0px;
  background: linear-gradient(to bottom, #F9FBF8, #E8F5E9);
}

.layers{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: #ffffff;
  box-shadow: 2px 4px 12px rgba(0,0,0,0.08);
  border-radius: 50px;
}

.layers img{
  width: 50%;
  border-radius: 20px;
}

.product-content{
  position: relative;
  top: -60px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.purchase{
  display: flex;
  margin-top: 10px;
  gap: 20px;
  align-items: center;
  height: 100px;
  width: 50%;
  border-top-color: #000;
}

.purchase p{
  font-size: 20px;

}

.purchase button{
  padding: 10px 10px;
  font-size: 18px;
  background-color: #c69b26;;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;

}











/* (C) SMALL SCREEN */
@media only screen and (max-width: 900px) {

  small{
    display: none;
  }
  h1{
    font-size: 19px;
  }

  input{
    visibility: hidden;
  }

.menu-bar ul{
    display: block;
    width: 100%;
    padding-left: 0;
  }

  .menu-bar ul li a{
    margin-top: 0;
    color:#fff;
    font-size: 22px;
  }
  
  /* (C1) HIDDEN SIDEBAR */
  
  #side {
    width: 0; 
    visibility: hidden; 
    opacity: 0;
    margin-right: 0;
    /* transition: all 0.1s; */
    /* display: block; */
  }

  #side {
    position: sticky;
  color: #fff;
  background: #333;
    /* background: linear-gradient(to top, 
                                #858685 25%,
                                #cbcac9 75%); */
}

 
  /* (C2) SHOW SIDEBAR WHEN CHECKED */
  #sideL{
     display: inline-block;
    font-size: 40px;
    color: #000000;
    cursor: pointer;
    margin-right: auto;
    z-index: 1;
    }
    

  #sideC:checked ~ #side{
    width: 250px; 
    visibility: visible;
    opacity: 1;
    display: block;
    height: 35%;
    padding:10px;
    line-height: 50px;
    position: absolute;
    top:14%;
    right:1.5%;
    z-index: 1;
    border-bottom: 0.4px solid #000;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
  }

  #sideC:not(:checked) ~ #side  {
    display: none;
  }


  .about{
    flex-direction: column;
  }

  .about-content{
    position: relative;
    top: 0;
    padding: 20px;
    width: 100%;
    height: fit-content;
  }

  .mission-vision{
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  #about-us{
    height: 100%;
  }

  .mission-vision-ruler{
    display: none;
  }

  h4{
  font-size: 25px;
  color: #c69b26;
  text-align: center;
  position: relative;
  top: 100px;
}

  h4:after{
    content:' ';
    position: absolute;
    top: 40px;
    left:35%;
    width: 100px;
    height: 2px;
    background-color:#c69b26;
  }

  .our-story{
      text-align: left;
  }
  
  .why-choose-us{
    position: relative;
    top: 150px;
    flex-direction: column;
    justify-content: center;
  }

  .middle-logo{
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top:0;
    bottom:0;
  }

  .services-icons{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 150px;
  }

  .products{
    position: relative;
    top: 120px;
  }

  .purchase{
    flex-direction: column;
  }

}